<div class="container mt-3">
  <div class="col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded">
  <h3>Edit here</h3>

   <%= form_with model: @user, url: camp_admin_user_path(@user), method: :patch, local: true do |f| %>

      <div class="field">
        <%= f.label :FirstName %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control"%>

      </div>
      <div class="field">
        <%= f.label :LastName %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "LastName", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :email%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :Country%><br />
        <%= f.text_field :country, autofocus: true, autocomplete: "Country", class: "form-control" %>
      </div>

      <div class="col">
        <%= f.submit "Update", class: 'btn btn-success mb-3 btn-md mt-3' %>
      </div>
    <% end %>
  </div>
</div>
