<div class='container col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded'>
  <h3>View Here</h3>
  <div class='view'>
    <div>
      <ul class='list1'><li><b>FirstName:</b></li><hr>
        <li><b>LastName:</b></li><hr>
        <li><b>Email Address:</b></li><hr>
        <li><b>Phone Number:</b></li><hr>
        <li><b>Country:</b></li><hr>
      </ul>
    </div>

    <div>
      <ul class='list2'><li><%= @user.first_name %></li><hr>
        <li><%= @user.last_name %></li><hr>
        <li><%= @user.email %></li><hr>
        <li><%= @user.phone_number %></li><hr>
        <li><%= @user.country %></li><hr>
      <ul>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= link_to 'Back', camp_admin_users_path, class: 'btn btn-success' %>
    </div>
    <div class='col'>
      <%= link_to "Edit", edit_camp_admin_user_path(@user), class: 'btn  btn-success' %>
    </div>
  </div>
</div>
