<div class='container col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded'>
  <h3>View Here</h3>
  <div class='view'>
    <div>
      <ul class='list1'><li><b>FirstName:</b></li><hr>
        <li><b>LastName:</b></li><hr>
        <li><b>Email Address:</b></li><hr>
        <li><b>Phone Number:</b></li><hr>
        <li><b>Country:</b></li><hr>
      </ul>
    </div>

    <div>
      <ul class='list2'><li><%= @user.first_name %></li><hr>
        <li><%= @user.last_name %></li><hr>
        <li><%= @user.email %></li><hr>
        <li><%= @user.phone_number %></li><hr>
        <li><%= @user.country %></li><hr>
      <ul>
    </div>
  </div>
  <%= link_to 'Back', camp_admin_users_path %>
  <%= link_to "Edit", edit_camp_admin_user_path(@user),:method => :update, :class => 'btn btn-large btn-primary' %>
</div>
