<h1>show here</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>FirstName</th>
      <th>Email</th>
      <th>Country</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @user.id%></td>
        <td><%= @user.first_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.country %></td>
        <td><%= @user.phone_number %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Back', camp_admin_users_path %>
