<%= form_with model: [:camp_admin, @location], local: true do |f| %>

  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control"%>

  </div>
  <div class="field">
    <%= f.label :Camp_Location %><br />
    <%= f.text_field :camp_location, autofocus: true, autocomplete: "LastName", class: "form-control" %>

  </div>


    <div>
    <%= f.label :Status %><br>
    <%= f.select :status, [ 'active', 'inactive' ], {}, class:"form-select" %>
  </div>

  <div>
    <%= f.label :start_date %><br>
    <%= f.datetime_field :start_date , class: "form-control"  %>
  </div>

    <div>
    <%= f.label :end_date %><br>
    <%= f.datetime_field  :end_date , class: "form-control" %>
  </div>

  <div class="col">
    <%= f.submit class: 'btn btn-success mb-3 btn-md mt-3' %>
  </div>
<% end %>

