<div class='container col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded mt-3'>
  <h3>Location</h3>
  <div class='view'>
    <div>
      <ul class='list1'><li><b>Title:</b></li><hr>
        <li><b>Camp Location:</b></li><hr>
        <li><b>Status:</b></li><hr>
        <li><b>Start date:</b></li><hr>
        <li><b>End date:</b></li><hr>
      </ul>
    </div>

    <div>
      <ul class='list2'><li><%= @location.title %></li><hr>
        <li><%= @location.camp_location %></li><hr>
        <li><%= @location.status %></li><hr>
        <li><%= @location.start_date %></li><hr>
        <li><%= @location.end_date %></li><hr>
      <ul>
    </div>
  </div>
</div>
