<h1>User data</h1>

<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>FirstName</th>
        <th>Email</th>
        <th>Country</th>
        <th>Phone</th>
        <th  colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.id%></td>
            <td><%= user.first_name %></td>
            <td><%= user.email %></td>
            <td><%= user.country %></td>
            <td><%= user.phone_number %></td>
            <td><%= link_to 'View', new_admin_user_path(user) %></td>
            <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td><%= link_to 'Destroy', admin_user_path(user),method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>


