<h1>New location</h1>

<%= form_with model: @location do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :camp_Location %><br>
    <%= form.text_area :camp_location %>
  </div>
  <div>
    <%= form.label :Status %><br>
    <%= form.text_area :status %>
  </div>
  <div>
    <%= form.label :registration %><br>
    <%= form.text_area :registration %>
  </div>

  <div>
  <%= form.submit %>
  </div>
<% end %>
