<div class="container ">
  <div class="col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded">
    <h1>New Camp</h1>

    <%= form_with model: @location do |form| %>
      <div>
        <%= form.label :title %><br>
        <%= form.text_field :title , class: "form-control"  %>
      </div>

      <div>
        <%= form.label :camp_Location %><br>
        <%= form.text_area :camp_location , class: "form-control" %>
      </div>
      <div>
        <%= form.label :Status %><br>
        <%= form.text_area :status , class: "form-control"  %>
      </div>
      <div>
        <%= form.label :start_date %><br>
        <%= form.datetime_field :start_date , class: "form-control"  %>
      </div>
        <div>
        <%= form.label :end_date %><br>
        <%= form.datetime_field  :end_date , class: "form-control" %>
      </div>
      <div>
      <%= form.submit "Create", class: 'btn btn-success mb-3 mt-3' %>
      </div>
    <% end %>
  </div>
</div>
