<!DOCTYPE html>
<html>
  <head>
    <title>CampEncounter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'shared/header' %>
      <%= render 'shared/flash' %>
      <div class='container-fluid px-0'>
        <div class='row flex-nowrap mx-0'>
        <%= render 'shared/sidbar' if current_user&.admin? %>
          <div class='col' >
            <%= yield %>
          </div>
        </div>
      </div>

 </body>
</html>
